body {
    font-family: "Roboto", sans-serif;
  }
  
  p {
    color: teal;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .section {
    padding: 94px 0;
  }
  
  .list {
    list-style: none;
  }
  
  .link {
    text-decoration: none;
  }